<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base_url" value="https://www.saucedemo.com/"/>
    <add key="inventory_url" value="https://www.saucedemo.com/inventory.html"/>
    <add key="yourcart_url" value="https://www.saucedemo.com/cart.html"/>

    <add key="checkoutinformation_url" value="https://www.saucedemo.com/checkout-step-one.html"/>
    <add key="checkoutoverview_url" value="https://www.saucedemo.com/checkout-step-two.html"/>
    <add key="checkoutcomplete_url" value="https://www.saucedemo.com/checkout-complete.html"/>

    <add key="saucelabs_url" value="https://saucelabs.com/"/>
    <add key="twitter_url" value="https://twitter.com/saucelabs"/>
    <add key="facebook_url" value="https://www.facebook.com/saucelabs"/>
    <add key="linkedin_url" value="https://www.linkedin.com/company/sauce-labs/"/>

    <add key="termsofservice_url" value="https://www.saucedemo.com/terms-of-service.html"/>
    <add key="privacypolicy_url" value="https://www.saucedemo.com/privacy-policy.html"/>
  </appSettings>
</configuration>